$day: "mon", "tue", "wed", "thu", "fri", "sat", "sun";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 707px;
  margin: auto;

  div {
    display: none;
    height: 100px;
    width: 100px;
    margin: 0 0 1px 1px;

    background-color: #eee;
    border: 1px solid black;

    line-height: 100px;
    text-align: center;

    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }

  @for $i from 28 through 31 {
    &-#{$i} div:nth-child(-n + #{$i}) {
      display: block;
    }
  }

  @for $i from 1 through 31 {
    div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  @for $i from 1 through 7 {
    &-#{nth($day, $i)} div:first-child {
      margin-left: #{$i * 100 + $i - 100}px;
    }
  }

  div:hover {
    background-color: pink;
    transform: translateY(-20px);
  }
}
